<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://www.springframework.org/schema/beans"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id = "calculateScore" class = "homework01_Dedova.service.CalculateScoreImpl">
        <constructor-arg name="service" ref="interviewService"/>
        <constructor-arg name="csvReader" ref="cSVReader"/>
    </bean>

    <bean id = "interviewService" class = "homework01_Dedova.service.InterviewServiceImpl">
        <constructor-arg ref="cSVReader"/>
    </bean>

    <bean id="cSVReader" class="homework01_Dedova.dao.CSVReader">
        <constructor-arg value="questions.csv"/>
    </bean>


</beans>


